<div class="container">
  <h1>Lista Categorias</h1>
  <hr>

  <a class="btn btn-success mb-4" href="/admin/categorias/formcategorias">Adicionar categorias</a>
  <a class="btn btn-success mb-4" href="/admin/">Voltar aos Produtos</a>

  <div class="col">
  {{#each categorias}}
  <table class="table">
    <thead>
      <tr>
        <th class="col-6">Name</th>
        <th class="col-6">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{nome}}</td>
        <td>
            <a href="/admin/categorias/formUpdateCategoria/{{_id}}" class="btn btn-warning">Edit</a>
            <a href="/admin/categorias/delete/{{_id}}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
  {{else}}

  {{/each}}  
</div>
    
        
    
