
<div class="container">
    <h1 class="mb-4 mt-4">Adicione uma Categoria</h1>
    <div class="card row align-items-center">
        <div class="cord-body">
            <form action="/admin/categorias/addcategorias" method="POST" >
                <div class=" col-auto mb-3 mt-4">
                    <label for="exampleInputEmail1" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="nomecategoria" >
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mb-3 mt-4">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
    <a class="btn btn-success mt-3" href="/admin/categorias">Voltar</a>

</div>
    
    

    