
<div class="container">
    <h1 class="mb-4 mt-4">Adicione um Produto</h1>
    <div class="card row align-items-center">
        <div class="cord-body">
            <form action="/admin/addprodutos" method="POST" >
                <div class=" col-auto mb-3 mt-4">
                    <label for="exampleInputEmail1" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="nomeproduto" >
                </div>
                <div class=" col-auto mb-3 mt-4">
                    <label for="exampleInputEmail1" class="form-label">Preço</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" name="preco" >
                </div>
                <div class=" col-auto mb-3 mt-4">
                    <label for="exampleInputEmail1" class="form-label">Categoria</label>
                    
                        <select class="form-select" name="categoria">
                                <option selected>Escolha uma Categoria</option>
                            {{#each categorias}} 
                                <option value="{{_id}}">{{nome}}</option>
                            {{else}}
                                <option selected>Nenhuma Categoria cadastrada</option>
                            {{/each}}    
                        </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mb-3 mt-4">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
    <a class="btn btn-success mt-3" href="/admin">Voltar</a>
</div>


    

    