{{#if success_msg}}
<div class="d-flex justify-content-center">
    <div class="alert alert-success w-25 text-center">{{success_msg}}</div>
</div>
    
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}